<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TranslaTale.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <userSettings>
        <TranslaTale.Properties.Settings>
            <setting name="RecentProjects" serializeAs="String">
                <value>&lt;RecentProjects&gt;&lt;/RecentProjects&gt;</value>
            </setting>
            <setting name="Bookmarks" serializeAs="String">
                <value>&lt;Bookmarks&gt;&lt;/Bookmarks&gt;</value>
            </setting>
            <setting name="RecentBaseFile" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSearchTerm" serializeAs="String">
                <value />
            </setting>
            <setting name="LastReplaceTerm" serializeAs="String">
                <value />
            </setting>
            <setting name="CaseSensitiveSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegexSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastVisitedLine" serializeAs="String">
                <value>0</value>
            </setting>
        </TranslaTale.Properties.Settings>
    </userSettings>
</configuration>
